<!doctype html>
<title>THY KIOSK</title>
<h1>Nasıl Ödeme Yapmak İstiyorsun?</h1>

<form action="payment/coin" method="GET">
	<input type="submit" id="btn" value="Bozuk Para"><br/>
</form>

<form action="payment/paper" method="GET">
	<input type="submit" id="btn" value="Nakit"><br/>
</form>

<form action="payment/credit" method="GET">
	<input type="submit" id="btn" value="Kredi Kartı"><br/>
</form>

<form action="payment/none" method="GET">
	<input type="submit" id="btn" value="Ödeme Yapmak İstemiyorum"><br/>
</form>

<br/><br/>
<form action="help" method="GET">
	<input type="submit" id="btn" value="Yardım/Help"><br/>
</form>