<!doctype html>
<title>THY KIOSK</title>
<h1>Paranı Neye Harcamak İstiyorsun?</h1>

<form action="spend/shopnmiles" method="GET">
	<input type="submit" id="btn" value="Shop&Miles"><br/>
</form>

<form action="spend/upgrade" method="GET">
	<input type="submit" id="btn" value="Biletimi Yükselt"><br/>
</form>

<form action="spend/donate" method="GET">
	<input type="submit" id="btn" value="Paramı Bağışlamak İstiyorum"><br/>
</form>

<form action="spend/more" method="GET">
	<input type="submit" id="btn" value="Daha çok para yükle"><br/>
</form>
<br/><br/>

<form action="help" method="GET">
	<input type="submit" id="btn" value="Yardım/Help"><br/>
</form>